<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.todoapi.mapper.TaskPinnedMapper">

    <!-- 更新 -->
    <update id="updatePinFlg" parameterType="com.example.todoapi.entity.TaskEntity">
        UPDATE
            tasks
        SET
            pin_f = #{pinF, jdbcType=INTEGER}
        WHERE
            id = #{id}
    </update>

</mapper>