<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.todoapi.mapper.TaskInsertMapper">

    <!-- 登録 -->
    <insert id="insert" parameterType="com.example.todoapi.entity.TaskEntity"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            tasks (
                title
                <if test="content != null ">
                ,   content
                </if>
                <if test="compDate != null ">
                ,   comp_date
                </if>
            )
            VALUES (
                #{title}
                <if test="content != null ">
                ,   #{content, jdbcType=VARCHAR}
                </if>
                <if test="compDate != null ">
                ,   #{compDate, jdbcType=DATE}
                </if>
            )
    </insert>

</mapper>