h2 {
    color: white;
    background-color: #2f3242;
    padding: 5px;
    border-bottom: #b9b9b9 solid 3px;
}
.panel {
    height: 276px;
    background-color: #3a3e52;
}
.modal-back {
    background-color: #5a6a76;
    height: 180px;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-item {
    display: grid;
    grid-template-columns: 25% 1fr;
    gap: 10px;
}

textarea {
    resize: none;
    height:50px;
}

.modal-button {
    margin-top: 10px;
    display: flex;
    justify-content: end;
}

.modal-button button{
    padding: 5px;
    width: 80px;
}

.modal-save {
    margin-right: 10px;
}