<div *ngIf="task">
  <h2>{{ task.title }}</h2>
  <div><span>id: </span>{{ task.id }}</div>
  <div><label>タイトル：
      <input type="text" [(ngModel)]="task.title" placeholder="タイトル">
    </label>
  </div>
  <div>
    <label>内容：
      <textarea [(ngModel)]="task.content" placeholder="内容"></textarea>
    </label>
  </div>
  <div>
    <label>完了フラグ：</label>
    <input type="radio" [(ngModel)]="compF" value="0" id="no-comp">
    <label for="no-comp">未完了</label>
    <input type="radio" [(ngModel)]="compF" value="1" id="comp">
    <label for="comp">完了</label>
  </div>
  <button (click)="goBack()">戻る</button>
  <button (click)="save()">保存</button>
</div>